@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
	--color-primario: #0A3871;
	--color-secundario: #495057;
	--color-terciario: #343A40;

	--color-lightBlue: #F3F5FC ;
	--color-lightBlue2: #D8DFE8;

    --fuente-krona: 'Krona One', sans-serif;
    --fuente-montserrat: 'Montserrat', sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	letter-spacing: 1px;
	line-height: 1.3;
	font-family: 'IBM Plex Serif', serif;
	text-decoration: none;
}

body{
    background-color: var(--color-lightBlue);
}

.header {
	width: 90%;
	height: auto;
	margin: auto;
	display: flex;
	align-items: center;
	gap: .5rem;
    padding: 2.5%;
}

/*main*/
.container {
    margin: auto 40px auto auto;
    width: 90%;
    height: 100vh;
    background: #f3f5fc;
    display: flex;
    justify-content: space-between;
}

.texto {
	width: 100%;
	background: transparent;
	border: none;
	outline: none;
	resize: none;
	font-size: 32px;
	color: var(--color-blue);
	font-family: 'Space Mono', monospace;
  }

  
.encriptar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 5%;
    gap: 8px;
    width: 100%;
    background-color: #0a3871;
    border-radius: 24px;
    font-family: "Inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #fff;
}

.encriptado {
    width: 30%;
    height: 100vh;
    background: #fff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    display: flex;
    flex-direction: column; /* Organiza los elementos en una columna */
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    padding: 16px;
    gap: 32px;
    
    
}
.botones {
	display: flex;
	justify-content: space-evenly;
	padding: .8rem;
	flex-wrap: wrap;
	gap: .8rem;
    
}

.button__encriptar,
.button__desencriptar,
.button__copiar {
    width: 45%;
	max-width: 328px;
	min-width: 160px;
	height: 67px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 24px;
	border: none;
	outline: 1px solid var(--color-primario);
	background: var(--color-blue);
	color: white;
}
.button__desencriptar {
    background: var(--color-lightBlue2);
	color: var(--color-primario);
}
.button__copiar{
    background: none;
	color: var(--color-primario);
	width: 100%;
	min-width: 100px;
}

.bn_ocultar{
    display: none;
}

.contenido{ 
    min-height: 101px;
    display: flex;
    flex-direction: column;
    
}

.terminos{
    display: flex;
    justify-content: start;

}

.footer{
    color:var(--color-primario);
    background-color: var(--color-lightBlue);
    padding: 24px;
    text-align: center;
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}
.info {
	display: flex;
	align-items: center;
	gap: 10px;
	text-align: center;
	font-size: 16px;
	color: var(--color-grey);
}

.ajustar {
	height: auto;
	min-height: calc(100% - 67px - 32px);
	pointer-events: all;
	text-align: left;
	overflow: auto;
}

.ajuste{
	justify-content: space-between;
}

.muñeco{
	min-width: 230px;
	width: 50%;
}
.ocultar{
	display: none;
}

