@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
	--color-primario: #0A3871;
	--color-secundario: #495057;
	--color-terciario: #343A40;

	--color-lightBlue: #F3F5FC ;
	--color-lightBlue2: #D8DFE8;

    --fuente-krona: 'Krona One', sans-serif;
    --fuente-montserrat: 'Montserrat', sans-serif;
    --fuente-Inter: 'Inter', sans-serif;

}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	letter-spacing: 1px;
	line-height: 1.3;
	font-family: 'IBM Plex Serif', serif;
	text-decoration: none;
}

body{
    background-color: var(--color-lightBlue);
}

.header {
	width: 90%;
	height: auto;
	margin: auto;
	display: flex;
	align-items: center;
	gap: .5rem;
    padding: 2.5%;
}

/*main*/
.container {
    margin: auto;
    width: 80%; /* Ajuste al 80% para que 20% quede como margen */
    height: 100vh;
    background: #f3f5fc;
    display: flex;
}

.encriptar {
    display: flex;
    flex-direction: column;
    margin-left: 12%; /* 20% de margen a la izquierda */
    width: 100%; /* El textarea ocupará el 100% del espacio restante */
    height: 100vh;
    padding: 1.5%;
    gap: 8px;
    background-color: var(--color-lightBlue);
    font-family: "Inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: var(--color-lightBlue);
    justify-content: space-between;
}


.texto {
	width: 100%;
	background: transparent;
	border: none;
	outline: none;
	resize: none;
	font-size: 32px;
	color: var(--color-primario);
	font-family: 'Space Mono', monospace;
  }

  


.encriptado {
    width: 30%;
    height: 100%;
    background: #fff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    display: flex;
    flex-direction: column; /* Organiza los elementos en una columna */
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    padding: 16px;
    gap: 32px;
    
    
}
.botones {
	display: flex;
	justify-content: space-between;
	padding: .8rem;
	flex-wrap: wrap;
	gap: .8rem;
    
}

.button__encriptar,
.button__desencriptar,
.button__copiar {
    width: 45%;
	max-width: 328px;
	min-width: 160px;
	height: 67px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 24px;
	border: none;
	outline: 1px solid var(--color-primario);
	background: var(--color-primario);
	color: white;
}
.button__desencriptar {
    background: var(--color-lightBlue2);
	color: var(--color-primario);
}
.button__copiar{
    background: none;
	color: var(--color-primario);
	width: 100%;
	min-width: 100px;
}

.bn_ocultar{
    display: none;
}

.contenido{ 
    min-height: 101px;
    display: flex;
    flex-direction: column;
    
}

.terminos{
    display: flex;
    justify-content: start;
    padding-left: 1.6rem;
    gap: 0.8rem;
}

.footer{
    color:var(--color-primario);
    background-color: var(--color-lightBlue);
    padding: 2%;
    text-align: center;
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: start;
    display: flex;
    justify-content: space-between;
}

.links {
    gap: 1%;
}

.links svg {
    width: 1.5vw; /* Ajusta el tamaño según el ancho de la ventana */
    height: 1.5vw;
}

.info {
	display: flex;
	align-items: center;
	gap: 10px;
	text-align: center;
	font-size: 16px;
	color: var(--color-terciario);
}


.ajuste{
	justify-content: space-between;
}

.muñeco{
    min-width: 230px;
	width: 50%;
}
.ocultar{
	display: none;
}

.textoFinal{
    width: 100%;
	font-size: 24px;
	color: var(--color-secundario);
	border: none;
	outline: none;
	text-align: center;
	overflow: hidden;
	resize: none;
	pointer-events: none;
	font-family: 'Space Mono', monospace;
    font-weight: bold;
    font-family: 'Inter', monospace;
}

.textoFinal::placeholder{
    color: var(--color-terciario);
}
.ajustar {
    height: auto;
    min-height: 80%;
    pointer-events: all;
    text-align: left;
    overflow: auto;
    
}

/*Responsive Tablet*/

@media screen and (max-width: 780px) {
	.container {
        flex-direction: column;
        align-items: center;
		margin: auto;
	}
	.textoInput{
		max-height: 270px;
		font-size: 26px;
	}
	.info{
		font-size: 16px;
        font-weight: lighter;
	}
	.encriptado{
        height: auto;
        width: 100%;
        gap: 0px;
        padding: 33px;

	}
    .encriptar{
        margin-left: 0%; 
    }
	.encriptar.ajustar {
		height: 100%;
	}
	.muñeco{
		display: none;
	}
	.textoFinal{
		font-size: 24px;
        font-weight: bold;
        font-family: 'Inter', monospace;
	}
    .botones{
        padding: 0rem;
    }
    .terminos{
        padding: 0rem;
    }
}

/*Responsive Cellphone*/

@media screen and (max-width: 380px){
    .container{
        gap:64px
    }
	.button__encriptar,
	.button__desencriptar,
	.button__copiar {
		width: 100%;
		height: 50px;
		border-radius: 19px;
		font-size: 14px;
	}
	.texto{
		max-height: 300px;
		font-size: 32px;
        color: var(--color-primario);
	}
	.info{
		font-size: 10px;
	}
	.textoFinal{
		font-size: 24px;
	}
    .encriptar{
        height: auto;
    }

}

